<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/Register/Includ" method="post">

        <label>Título:</label>
        <input name="titulo" />
        <br />

        <label>Autor:</label>
        <input name="autor" />
        <br />

        <button>Register</button>
    </form>
</body>
</html>